.aaa__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1.6rem;

  &__title {
    font-size: 2rem;
    font-weight: 600;
  }

  &__datePicker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &--item {
      width: 35%;
      font-size: 15px;
      font-weight: 700;
    }
  }

  &__reload {
    height: 100%;
    width: 5.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiButton-outlined {
    border: 1px solid #d9d9d9;
    height: 100%;
    span {
      color: #d9d9d9;
    }
  }
}
