.allscreen {
  height: 100vh;
  position: relative;

  background-image: url("../../assets/home_bg_image.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & .line {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 2rem;
    color: white;
  }

  & .novaHomePageLogo {
    animation: opacityChange 0.65s ease-in-out;
  }
}

.nmsTeam {
  margin-top: -14px;
  animation: opacityChange 0.65s ease-in-out;
  font-family: Chiller_Embedded;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  // background: linear-gradient(to bottom, #ffffff90, #ff000050);
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
}

@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.93;
  }
}

.myloginform {
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0.93;
  animation: opacityChange 0.5s ease-in-out;

  & form {
    display: block;
    font-size: 1.8rem;
  }

  & .form-inner {
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #eee;
    padding: 5rem;
    z-index: 2;

    & > .error {
      margin-bottom: 1.5rem;
      color: var(--color-primary);
    }

    & h2 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }

    .mybutton {
      text-align: center;
    }

    .form-group {
      margin: auto;
      display: block;
      width: 30rem;
      margin-bottom: 1.5rem;

      & label {
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        transition: 0.4s;
      }

      &:focus-within label {
        color: var(--color-primary);
      }

      & input {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: var(--color-grey-light-2);
        border-radius: 0.8rem;
        transition: 0.1s;
        border: none;
        outline: none;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

        text-align: center;
      }

      & input:focus {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
      }
    }
  }

  input[type="submit"]:hover {
    background-position: 100% 0%;
  }

  & input[type="submit"] {
    width: 50%;
    border: 1px solid #0083b0;
    margin-top: 5rem;
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.3rem 2.5rem;
    border-radius: 0.8rem;
    color: #fafafa;
    background-image: linear-gradient(to right, #00b4db, #222);
    // background-size: 200%;
    // background-position: 0%;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);

    &:active {
      transform: translateY(3px);
      color: var(--color-primary);
    }
  }
}

.ant-tag {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.4rem;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  margin-right: 0.8rem;
  padding: 0 0.7rem;
  font-size: 1.2rem;
  line-height: 2rem;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ant-tag-green {
  color: #389e0d;
  background: #f6ffed;
  border-color: #b7eb8f;
}
