.tooltipOnCursor {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 1000;
  font-weight: 600;
  letter-spacing: 0.08rem;
}
